
header {
    background-color:grey;
    height: 2.5cm;
}

button {
    background-color:grey;
    border-color:white;
    color:white;
    width:15cm;
    height: 2cm;
    font-size:xx-large;
    
}

.pogaviens {
    top:11%;
    left:62%;
    position: relative;
}

.pogadivi {
    top:11%;
    right:36%;
    position: relative;
}

.augsa {
    background-color:white;
}
